body {
  background-color: #f4f4f4;
  margin-top: 30px;
}

h1 {
  text-align: center;
  font-size: 45px;
}

.color-grid {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 0 15px 2px lightgray;
}

.color-box {
  width: 50px;
  height: 50px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.color1 {
  background-color: #edbdd5;
}

.color2 {
  background-color: rgb(190, 185, 226);
}

.color3 {
  background-color: skyblue;
}

.color4 {
  background-color: 	hsl(138, 35%, 87%);
}

.color5 {
  background-color: #f2d894;
}